/* .electronics-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  .page-content {
    display: flex;
  }
  
  .product-list, .filter-sidebar {
    flex: 1;
    margin: 0 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
   */